.MuiDialog-paper {
    min-width: 400px;
}

.modal-dialog {
    display: flex;
}

.modal-content-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.modal-content {
    overflow-y: auto;
    /* Allow content to fill available space */
}